@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  /*typography*/
  --body-font: "Montserrat", swap;
  --big-font-size: 4.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.8rem;
  --small-font-size: 0.813rem;

  /*===== Margenes =====*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;

  /*===== z index =====*/
  --z-fixed: 100;

  /*Color*/
  --body-color: hsl(322, 100%, 8%);
  --header-color: hsl(348,88%,40%);
  --nav-color: #ABCCA8;
  --section-color: #58935D;
  --article-color: #9bf6ff;
  --aside-color: #97B0A2;
  --foter-color: #C5CCB3;
  --text-color: #FFFF;
}
* {
  padding: 0;
  margin: 0;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
  height: 99vh;
  gap: 4px;
  background-color: var(--header-color);
}
header {
  background-color: var(--header-color);
  color: var(--text-color);
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
}
.logo {
  width: 320px;
  height: 90px;
  padding: 0.7rem;
}
.logo img{
  width: 100%;
  height: auto;
}
/*Estilos de los textos en el banner*/
.cbi {
  color: #000000;
  font-size: var(--normal-font-size);
  display: flex;
  align-self: flex-end;
  padding-right: 0.5rem;
}
.carrera {
  text-shadow: 0 0 0.2em #e88;
  font-family: "Lora", serif;
  font-size: var(--big-font-size);
}
nav {
  background: var(--nav-color);
  grid-column: 1/-1;
  display:inline-block;
  text-decoration: none;
}
nav img {
  width: 26px;
  height: 26px;
}
.menu_principal{
  background-color: #640923;
}

aside {
  background: var(--aside-color);
  grid-column: 3/4;
  grid-row: 3/12;
  display: grid;
  place-content: center;
}
section {
  background: var(--section-color);
  grid-column: 1/3;
  grid-row: 3/12;
  display: flex;
  flex-direction: column;
  border: 1px solid #370617;
  padding: 10px;
  gap: 10px;
}
article {
  background: var(--article-color);
  height: 100%;
  display: grid;
  place-content: center;
  border: 1px solid #370617;
}
footer {
  background: var(--foter-color);
  grid-column: 1/-1;
  display: grid;
  place-content: center;
}
